<html>
<head>
<style>
body
{
background-color:FFFFFF;
}
#submit {
  font-family: "Verdana";
  background-color: FFFFFF;
  border: 2px solid black;
  white-space: normal;
  width: 240px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
tyyli
{
  font-family: "Verdana"; 
  font-size: 64px;
  font-weight:normal
}
tyyli2
{
  color: #FF3300;
  font-family: "Verdana"; 
  font-size: 40px;
  font-weight:normal

}
</style>
<title>
Rotta Destroyer
</title>
</head>
<body onLoad="playSound('https://www.myinstants.com/media/sounds/tindeck_1.mp3');">
<table style="width:95%; height:100%">
<tr>

<th bgcolor="FFFFFF" style="width:50%;">
<tyyli>Your friendly <br> rat trapper<br></tyyli>
<br>
<tyyli2>There is a visitor<br>in your trap<br></tyyli2>
<br>
<form method="POST" action="/r/">
<input type = "submit" value = "Reset trap" id="submit">
</form>
</th>

<th bgcolor="#FF3300">
<img src="{{rotta_image}}" alt="Rotta" style="width:80%;">
</th>

</tr>
</body>
<script>
function playSound(url) {
  const audio = new Audio(url);
  audio.play();
}
</script>
</html>
