<head>
<style>
body
{
background-color:FFFFFF;
}
#submit {
  font-family: "Verdana";
  background-color: FFFFFF;
  border: 2px solid black;
  white-space: normal;
  width: 240px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
tyyli
{
  font-family: "Verdana"; 
  font-size: 64px;
  font-weight:normal
}
tyyli2
{
  color: #FF3300;
  font-family: "Verdana"; 
  font-size: 40px;
  font-weight:normal
}

</style>
<title>
Rotta Destroyer
</title>
</head>
<body>
<table style="width:95%; height:100%">
<tr>

<th bgcolor="FFFFFF" style="width:50%;">
<tyyli>Your friendly <br> rat trapper<br></tyyli>
<br>
<tyyli2>Trap is empty<br><br></tyyli2>
<form method="POST" action="/click/">
<input type = "submit" value = "Check again" id="submit">
</form>
</th>

<th bgcolor="#FF3300">
<img src="/static/sivunkuva.jpg" alt="Rotta" style="width:80%;">
</th>

</tr>
</body>